@charset "UTF-8";

body{
  font-size: 16px;

}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1{
  position: relative;
      margin: 2rem 0;
}

h1:before{
  content: '';
  height: 1px;
  background: #fbfbfb;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
  display: inline-block;
}

h2{
  font-size: 2.5rem;
}
ul li.over{
  color: green
}

.console-log-div {
  margin: 1rem auto!important;
}

.git, .by{
  display: inline-block;
  margin: 2rem 0
}

.git a,
.by a{
   color: red;
}

.git{
  float: right;
  display: inline-block;
}